<div style="text-align: center">
  <h3>Image Gallery</h3>
  {% for image in page.gallery | limit: 3 %}
    <img src="{{ image.src }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
  {% endfor %}
</div>

<script>
var pswpElement = document.getElementById('pswp');

function openPhotoSwipe(start) {
  // build items array
  var items = {{ page.gallery | jsonify }};

  // define options (if needed)
  var options = {
    index: start,
  };

  // Initializes and opens PhotoSwipe
  var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
  gallery.init();
}
</script>
