<div style="text-align: center">
  <p>Click to zoom and use the arrows to navigate.</p>
  {% if page.gallery.size == 1 %}
      {% for image in page.gallery | limit: 1 %}
        <figure style="width: 100%; display: inline-block;">
          {% if image.thumbnail %}
            <img src="{{ image.thumbnail }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
          {% else %}
            <img src="{{ image.src }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
          {% endif %}
          <figcaption>{{ image.title }}</figcaption>
        </figure>
      {% endfor %}
  {% elsif page.gallery.size == 2 %}
      {% for image in page.gallery | limit: 2 %}
        <figure style="width: 49%; display: inline-block;">
          {% if image.thumbnail %}
            <img src="{{ image.thumbnail }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
          {% else %}
            <img src="{{ image.src }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
          {% endif %}
          <figcaption>{{ image.title }}</figcaption>
        </figure>
      {% endfor %}
  {% else %}
      {% for image in page.gallery %}
        <figure style="width: 32%; display: inline-block;">
          {% if image.thumbnail %}
            <img src="{{ image.thumbnail }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
          {% else %}
            <img src="{{ image.src }}" onclick="openPhotoSwipe({{ forloop.index | minus: 1}})">
          {% endif %}
          <figcaption>{{ image.title }}</figcaption>
        </figure>
      {% endfor %}
  {% endif %}
</div>

<script>
var pswpElement = document.getElementById('pswp');

function openPhotoSwipe(start) {
  // build items array
  var items = {{ page.gallery | jsonify }};

  // define options (if needed)
  var options = {
    index: start,
  };

  // Initializes and opens PhotoSwipe
  var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
  gallery.init();
}
</script>
