<head>
  <!-- Standard stuff -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- (1) Optimize for mobile versions: http://goo.gl/EOpFl -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">                  <!-- (1) force latest IE rendering engine: bit.ly/1c8EiC9 -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}">

  <!-- Information about this site -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}" />

  <!-- Various Twitter related content. -->
  {% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title | escape }}">
  {% endif %}
  {% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | escape }}">
  {% endif %}

  <!-- Talk about the homepage and the rss feed. -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" href="/feed.xml">

  <!-- Stylesheets are fun -->
  <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/main.css"  | prepend: site.baseurl  }}" />

  <!-- Photoswipe gallery assets -->
  <link rel="stylesheet" href="/assets/lib/photoswipe/photoswipe.css">
  <link rel="stylesheet" href="/assets/lib/photoswipe/default-skin/default-skin.css">
  <script src="/assets/lib/photoswipe/photoswipe.min.js"></script>
  <script src="/assets/lib/photoswipe/photoswipe-ui-default.min.js"></script>

  <script>
  // Create captions from Alt tags
  document.addEventListener("DOMContentLoaded", function(event) {
    Array.from(document.querySelectorAll("main img[alt]")).forEach(function (item) {
      if (item.attributes['alt']) {
        var caption = document.createElement("figcaption");
        caption.innerHTML = item.attributes['alt'].value;
        item.outerHTML = "<figure>" + item.outerHTML + caption.outerHTML + "</figure>";
      }
    });
  });
  </script>
</head>
