{% unless include.text %}

  {% unless include.thumbnail %}
  <img src="{{ include.src }}" alt="{{ include.caption }}" onclick='openLightbox({{ include.src | jsonify }}, {{ include.width }}, {{ include.height }}, {{ include.caption | jsonify }});'>
  {% else %}
  <img src="{{ include.thumbnail }}" alt="{{ include.caption }}" onclick='openLightbox({{ include.src | jsonify }}, {{ include.width }}, {{ include.height }}, {{ include.caption | jsonify }});'>
  {% endunless %}

{% else %}
  
  {% unless include.video %}
  <a href="javascript:void(0)" onclick='openLightbox({{ include.src | jsonify }}, {{ include.width }}, {{ include.height }}, {{ include.caption | jsonify }});'>{{ include.text }}</a>
  {% else %}
  <a href="javascript:void(0)" onclick='openYoutube({{ include.video | jsonify }}, {{ include.caption | jsonify }});'>{{ include.text }}</a>
  {% endunless %}

{% endunless %}


